{{#data}}
<div class="article clearfix">
  <h2 class="article-header"><a href="#page/{{id}}">{{title}}</a></h2>
  <img class="article-image fluid-image" src="{{image}}" alt="{{title}}" />
  <p class="article-paragraph">{{content}}</p>
</div>
{{/data}}

{{^data}}
  No pages :(
{{/data}}
